.Boring-Button-Dark {
  display: inline-block;
  padding: 0.35em 1.2em;
  border: 0.1em solid #ffffff;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.5em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #ffffff;
  text-align: center;
  transition: all 0.2s;
}

.Boring-Button-Dark:hover {
  color: #000000;
  background-color: #ffffff;
}

.Boring-Button-Light {
  display: inline-block;
  padding: 0.35em 1.2em;
  border: 0.1em solid black;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.5em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #282c34;
  text-align: center;
  transition: all 0.2s;
}

.Boring-Button-Light:hover {
  color: #ffffff;
  background-color: #282c34;
}
